#direct
matplotlib==3.5.3
opencv-python==4.7.0.72
scipy==1.7.3

# optional
#pip-chill==1.0.1 # for requirements update
#ipykernel==6.16.2 # for jupyter

#dependencies(indirect)
# cycler==0.11.0
# fonttools==4.38.0
# kiwisolver==1.4.4

# packaging==23.0
# Pillow==9.4.0
# pyparsing==3.0.9
# python-dateutil==2.8.2
# six==1.16.0
# typing_extensions==4.5.0
